@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <h2>Car Parking Application </h2>
    <img src="~/images/car_park.jpg" alt="Microsoft Azure" class="img-responsive" />
    <hr/>
    <br/>
    <div class="col-md-6">

        <ul>
            <li>  Find It Cheaper And We'll Beat It. No Cancellation or Amendment Fees! No Credit Card Fees. We Speak Your Language. Unbeatable Prices. Types: Economy, Mini, Compact, Premium.</li>
            <li>
                Find Joy on The Perfect Kiwi Road Trip and Earn Airpoints Along the way. Great Service & Range of Cars to Choose From. Book Your Car with Avis Today. Unlimited kms.

            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h2>How to</h2>
        <ul>
            <li> Rates Start From $6 Per Day For Selected Locations Hurry Up Book Early And Save More Now! Our Constant Car Rental Market Awareness Guarantee The Best Possible Rates For...</li>
            <li> Looking for good rates and a trusted car rental company in New Zealand? At Budget New Zealand, you can find great rates & special deals on all car rentals.</li>
            <li> Compare rental cars in New Zealand to find the best rates. VroomVroomVroom makes it easy to book a car hire.</li>

            <li> Which car rental companies in Auckland have updated their vehicle cleaning and safety policies because of coronavirus (COVID-19)?</li>
            <li>
                Find great rates and specials for car hire around New Zealand. Book with Thrifty today for trusted car rental in NZ!
            </li>
        </ul>
    </div>

</div>
